<h1>
    Status confirm
</h1>

Code Status<br/>

<a href="{{ url('get_status_confirmation', { 'id': entity.id , 'code':entity.code }) }}">
    {{url('get_status_confirmation', { 'id':entity.id, 'code':entity.code }) }}
</a>
