{% extends "::base.html.twig" %}

{% block  body %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation">
                    <a href="{{url('nelmio_api_doc_index')}}" target="_blank">
                        API DOC
                    </a>
                </li>
                <li role="presentation"> 
                    <a href="{{url('sonata_admin_dashboard')}}"target="_blank" >
                        PROJECT ADMIN
                    </a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Status</h3>
    </div>
    <div class="jumbotron">
        <h1>Examen PHP - Status API</h1>
        <p class="lead">
            Se solicita implementar un servicio web que permita a sus usuarios:
        </p>
        <ol style="text-align: left">
            <li>Publicar mensajes texto cortos de no más de 120 caracteres.</li>
            <li>Traer un listado con los últimos mensajes publicados, ordenados por fecha, trayendo los últimos primero.</li>
            <li> Buscar mensajes por su texto.</li>
            <li>Traer un mensaje específico por su URL.</li>
            <li>Eliminar un mensaje específico por su URL.</li>
        </ol>
        <p><a class="btn btn-lg btn-success" href="https://bitbucket.org/robinsluna/status/src" role="button" target="_blank"a>Codigo fuente</a></p>
    </div>

{% endblock %}